/*vars*/
/*test*/
#wp_custom_attachment .video_inputs .inputs_data {
  display: table;
  width: 100%;
  padding: 20px 0;
}
#wp_custom_attachment .video_inputs .inputs_data .tb_td {
  display: table-cell;
  vertical-align: middle;
  margin: 5px 10px;
  text-align: center;
}
#wp_custom_attachment .video_inputs .inputs_data .tb_td input {
  float: left;
  padding: 10px;
  margin: 5px;
}
#wp_custom_attachment .video_inputs .inputs_data .tb_td input[type="text"] {
  display: none;
}
#wp_custom_attachment .video_inputs .inputs_data .tb_td span {
  display: block;
  margin-top: 3px;
}
#wp_custom_attachment .video_inputs .param_data {
  display: table;
  width: 100%;
}
#wp_custom_attachment .video_inputs .param_data input {
  display: table-cell;
  vertical-align: middle;
  float: left;
  padding: 10px;
  margin: 5px;
}
#wp_custom_attachment .video_inputs .select_type_video {
  display: inline-block;
  width: 150px;
  border: 1px solid #cfcfcf;
  padding: 0;
}
#wp_custom_attachment .video_inputs .select_type_video div.url,
#wp_custom_attachment .video_inputs .select_type_video div.file {
  display: inline-block;
  padding: 10px 0px;
  width: 50%;
  float: left;
  text-align: center;
}
#wp_custom_attachment .video_inputs .select_type_video div.url:hover,
#wp_custom_attachment .video_inputs .select_type_video div.file:hover {
  cursor: pointer;
  text-decoration: underline;
}
#wp_custom_attachment .video_inputs .select_type_video div.active {
  background: #28BAF5;
  color: #FFF;
}
#wp_course_builder .enable_disable {
  display: table;
  width: 400px;
}
#wp_course_builder .enable_disable .on,
#wp_course_builder .enable_disable .off {
  display: table-cell;
  vertical-align: middle;
  width: 25%;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid #cfcfcf;
}
#wp_course_builder .enable_disable .on.active,
#wp_course_builder .enable_disable .off.active {
  background: #28BAF5;
  color: #FFF;
  font-weight: bolder;
}
#wp_course_builder .enable_disable .on:hover,
#wp_course_builder .enable_disable .off:hover {
  cursor: pointer;
  opacity: 0.7;
}
#wp_course_builder .enable_disable .short_desc {
  padding: 10px 20px;
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}
#wp_course_builder .init_interaction {
  display: none;
  width: 100%;
}
#wp_course_builder .course_steps {
  display: block;
  width: 100%;
}
#wp_course_builder .course_steps .step_numb {
  font-size: 30px;
  line-height: 1.5em;
  font-weight: bolder;
  display: table;
  width: 95%;
  padding: 10px 2.5%;
  text-align: left;
  color: #FFF;
  background: rgba(0, 0, 0, 0.74);
  margin: 10px 0 0 0;
}
#wp_course_builder .course_steps .step_numb i {
  font-weight: normal;
  display: table-cell;
  vertical-align: middle;
  width: 25px;
}
#wp_course_builder .course_steps .step_numb i:after {
  content: "\f151";
  color: #FFF;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  float: right;
}
#wp_course_builder .course_steps .step_numb i:hover {
  cursor: pointer;
  opacity: 0.5;
}
#wp_course_builder .course_steps .step_numb i.show:after {
  content: "\f150";
  color: #FFF;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  float: right;
}
#wp_course_builder .course_steps .step_numb i.show:hover {
  cursor: pointer;
  opacity: 0.5;
}
#wp_course_builder .course_steps .step_numb i.delete {
  float: none;
  width: 25px;
}
#wp_course_builder .course_steps .step_numb i.delete:after {
  float: right;
  content: "\f00d";
  color: #FFF;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
#wp_course_builder .course_steps .step_numb i.delete:hover {
  cursor: pointer;
}
#wp_course_builder .course_steps .step_numb i.delete:hover:after {
  color: #b52222;
}
#wp_course_builder .course_steps .step {
  width: 100%;
  border: 1px dashed #cfcfcf;
  box-sizing: border-box;
  padding: 10px 2.5%;
}
#wp_course_builder .course_steps .step .step_title {
  display: table;
  width: 100%;
}
#wp_course_builder .course_steps .step .step_title label {
  width: 10%;
  display: table-cell;
  font-size: 15px;
  position: relative;
  vertical-align: middle;
  top: 1px;
}
#wp_course_builder .course_steps .step .step_title input {
  display: table-cell;
  vertical-align: middle;
  border-radius: 5px;
  padding: 5px;
}
#wp_course_builder .course_steps .step .video_section {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
  background: #f5f5f5;
  margin: 10px 0;
}
#wp_course_builder .course_steps .step .video_part_title {
  margin: 10px 0;
  background: #42D636;
  color: #f5f5f5;
  font-weight: bold;
  font-size: 18px;
  display: block;
  width: 96%;
  padding: 10px 2%;
}
#wp_course_builder .course_steps .step .video_part_title i.delete {
  float: right;
  width: 25px;
}
#wp_course_builder .course_steps .step .video_part_title i.delete:after {
  float: right;
  content: "\f00d";
  color: #FFF;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
#wp_course_builder .course_steps .step .video_part_title i.delete:hover {
  cursor: pointer;
}
#wp_course_builder .course_steps .step .video_part_title i.delete:hover:after {
  color: #b52222;
}
#wp_course_builder .course_steps .step .video_part_title i.hide {
  float: right;
  width: 25px;
}
#wp_course_builder .course_steps .step .video_part_title i.hide:after {
  float: right;
  content: "\f151";
  color: #FFF;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
#wp_course_builder .course_steps .step .video_part_title i.hide:hover {
  opacity: 0.7;
  cursor: pointer;
}
#wp_course_builder .course_steps .step .video_part_title i.show {
  float: right;
  width: 25px;
}
#wp_course_builder .course_steps .step .video_part_title i.show:after {
  float: right;
  content: "\f150";
  color: #FFF;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
#wp_course_builder .course_steps .step .video_part_title i.show:hover {
  opacity: 0.7;
  cursor: pointer;
}
#wp_course_builder .course_steps .step .video-box .select_type_video {
  display: inline-block;
  width: 150px;
  border: 1px solid #cfcfcf;
  padding: 0;
}
#wp_course_builder .course_steps .step .video-box .select_type_video div.url,
#wp_course_builder .course_steps .step .video-box .select_type_video div.file {
  display: inline-block;
  padding: 10px 0px;
  width: 50%;
  float: left;
  text-align: center;
}
#wp_course_builder .course_steps .step .video-box .select_type_video div.url:hover,
#wp_course_builder .course_steps .step .video-box .select_type_video div.file:hover {
  cursor: pointer;
  text-decoration: underline;
}
#wp_course_builder .course_steps .step .video-box .select_type_video div.active {
  background: #28BAF5;
  color: #FFF;
}
#wp_course_builder .course_steps .step .video-box .inputs_data {
  display: table;
  width: 100%;
  padding: 20px 0;
}
#wp_course_builder .course_steps .step .video-box .inputs_data .tb_td {
  display: table-cell;
  vertical-align: middle;
  margin: 5px 10px;
  text-align: center;
}
#wp_course_builder .course_steps .step .video-box .inputs_data .tb_td input {
  float: left;
  padding: 10px;
  margin: 5px;
}
#wp_course_builder .course_steps .step .video-box .inputs_data .tb_td input[type="text"] {
  display: none;
}
#wp_course_builder .course_steps .step .video-box .inputs_data .tb_td span {
  display: block;
  margin-top: 3px;
}
#wp_course_builder .course_steps .step .add_video_button_wrapper {
  display: block;
  width: 100%;
  margin: 10px 0;
  text-align: right;
}
#wp_course_builder .course_steps .step .add_video_button_wrapper a {
  background: #28BAF5;
  padding: 5px 10px;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
#wp_course_builder .course_steps .step .add_video_button_wrapper a:hover {
  opacity: 0.7;
  cursor: pointer;
}
#wp_course_builder .course_steps .step .add_video_button_wrapper a:before {
  content: "\f067";
  color: #FFF;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  margin: 5px;
}
#wp_course_builder .course_steps .step .interaction-box .type_select {
  display: table;
  width: 100%;
  margin: 10px 0;
  height: 37px;
}
#wp_course_builder .course_steps .step .interaction-box .type_select label {
  width: 15%;
  display: table-cell;
  font-size: 16px;
  position: relative;
  vertical-align: middle;
  top: 1px;
}
#wp_course_builder .course_steps .step .interaction-box .type_select select {
  display: table-cell;
  vertical-align: middle;
  border-radius: 5px;
  width: 150px;
  padding: 5px;
  height: 37px;
}
#wp_course_builder .course_steps .step .interaction-box .add_quest_button_wrap {
  display: block;
  width: 100%;
  margin: 10px 0;
}
#wp_course_builder .course_steps .step .interaction-box .add_quest_button_wrap .add_q {
  margin: 10px 10px 10px 0;
  font-size: 16px;
  background: #28BAF5;
  padding: 5px 10px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
#wp_course_builder .course_steps .step .interaction-box .add_quest_button_wrap .add_q:hover {
  opacity: 0.7;
}
#wp_course_builder .course_steps .step .interaction-box .add_quest_button_wrap .add_q:before {
  content: "\f067";
  color: #FFF;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  margin: 5px;
}
#wp_course_builder .course_steps .step .interaction-box .questContent h3 {
  margin: 10px 0;
  padding: 10px 2%;
  background: #28BAF5;
  color: #FFF;
  line-height: 1.5em;
  width: 96%;
  display: block;
}
#wp_course_builder .course_steps .step .interaction-box .questContent h3 i.delete {
  float: right;
  width: 25px;
}
#wp_course_builder .course_steps .step .interaction-box .questContent h3 i.delete:after {
  content: "\f00d";
  color: #FFF;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  margin: 5px;
}
#wp_course_builder .course_steps .step .interaction-box .questContent h3 i.delete:hover {
  cursor: pointer;
}
#wp_course_builder .course_steps .step .interaction-box .questContent h3 i.delete:hover:after {
  color: #b52222;
}
#wp_course_builder .course_steps .step .interaction-box .questContent h3 i.hide {
  float: right;
  width: 25px;
}
#wp_course_builder .course_steps .step .interaction-box .questContent h3 i.hide:after {
  content: "\f151";
  color: #FFF;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  margin: 5px;
}
#wp_course_builder .course_steps .step .interaction-box .questContent h3 i.hide:hover {
  opacity: 0.7;
  cursor: pointer;
}
#wp_course_builder .course_steps .step .interaction-box .questContent h3 i.show {
  float: right;
  width: 25px;
}
#wp_course_builder .course_steps .step .interaction-box .questContent h3 i.show:after {
  content: "\f150";
  color: #FFF;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  margin: 5px;
}
#wp_course_builder .course_steps .step .interaction-box .questContent h3 i.show:hover {
  opacity: 0.7;
  cursor: pointer;
}
#wp_course_builder .course_steps .step .interaction-box .questContent .quest_content .quest_title_field {
  width: 95%;
  display: inline-block;
  border-radius: 5px;
  margin: 0 2.5%;
  padding: 10px;
}
#wp_course_builder .course_steps .step .interaction-box .questContent .quest_content ul li input[type="file"],
#wp_course_builder .course_steps .step .interaction-box .questContent .quest_content ul li input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  width: 250px;
}
#wp_course_builder .course_steps .step .interaction-box .questContent .quest_content > label {
  display: inline-block;
  font-size: 22px;
  line-height: 1.5em;
  padding: 10px;
}
#wp_course_builder .course_steps .step .interaction-box .questContent .quest_content a.delAnswer {
  display: inline;
  background: #FF7070;
  margin: 5px;
  padding: 10px 15px;
}
#wp_course_builder .course_steps .step .interaction-box .questContent .quest_content a.delAnswer i {
  color: #FFF;
}
#wp_course_builder .course_steps .step .interaction-box .questContent .quest_content a.delAnswer:hover {
  opacity: 0.7;
  cursor: pointer;
}
#wp_course_builder .course_steps .step .interaction-box .questContent .quest_content a.addAnswerImg,
#wp_course_builder .course_steps .step .interaction-box .questContent .quest_content a.addAnswer {
  display: inline;
  background: #444;
  margin: 5px;
  padding: 10px 15px;
}
#wp_course_builder .course_steps .step .interaction-box .questContent .quest_content a.addAnswerImg i,
#wp_course_builder .course_steps .step .interaction-box .questContent .quest_content a.addAnswer i {
  color: #FFF;
}
#wp_course_builder .course_steps .step .interaction-box .questContent .quest_content a.addAnswerImg:hover,
#wp_course_builder .course_steps .step .interaction-box .questContent .quest_content a.addAnswer:hover {
  opacity: 0.7;
  cursor: pointer;
}
#wp_course_builder .course_steps .add_step_button_wrapper {
  display: block;
  text-align: right;
  width: 100%;
  margin: 10px 0;
}
#wp_course_builder .course_steps .add_step_button_wrapper .addStep {
  background: #28BAF5;
  padding: 5px 10px;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
#wp_course_builder .course_steps .add_step_button_wrapper .addStep:hover {
  opacity: 0.7;
  cursor: pointer;
}
#wp_course_builder .course_steps .add_step_button_wrapper .addStep:before {
  content: "\f067";
  color: #FFF;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  margin: 5px;
}
/*groups*/
body.toplevel_page_lms_groups #wpcontent {
  padding: 0;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups {
  display: block;
  width: 100%;
  float: left;
  margin: 0;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups .title_page_groups {
  margin: 0 0 10px 0;
  padding: 0 2%;
  line-height: 3em;
  background: rgba(0, 0, 0, 0.74);
  color: #FFF;
  font-size: 30px;
  display: table;
  width: 96%;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups .title_page_groups span {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups .title_page_groups .add-new-group {
  float: right;
  display: inline;
  vertical-align: middle;
  text-align: right;
  padding: 10px 20px;
  margin: 10px 0;
  background: #28BAF5;
  color: #FFF;
  font-weight: bolder;
  font-size: 16px;
  text-decoration: none;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups .title_page_groups .add-new-group:hover {
  opacity: 0.7;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups .title_page_groups .add-new-group:after {
  content: "\f067";
  color: #FFF;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  margin: 5px;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul {
  width: 100%;
  float: left;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul #group-header {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul #group-header ul.group-header-titles {
  padding: 20px 0;
  margin: 0;
  color: #FFF;
  width: 100%;
  float: left;
  background: #28BAF5;
  display: table;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul #group-header ul.group-header-titles li {
  color: #FFF;
  font-size: 22px;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul #group-header ul.group-header-titles li.id {
  width: 5%;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul #group-header ul.group-header-titles li.name {
  width: 35%;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul #group-header ul.group-header-titles li.view_limit {
  width: 5%;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul #group-header ul.group-header-titles li.owner {
  width: 20%;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul #group-header ul.group-header-titles li.actions {
  width: 35%;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.05);
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row:nth-child(2n) {
  background: #FFF;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row:hover {
  cursor: pointer;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row.removed {
  background: rgba(255, 0, 0, 0.53) !important;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row ul.group-data-list {
  width: 100%;
  float: left;
  padding: 10px 0;
  border-bottom: 2px solid #cfcfcf;
  display: table;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row ul.group-data-list li {
  padding: 0 15px;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row ul.group-data-list li a {
  text-decoration: none;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row ul.group-data-list li a:hover {
  text-decoration: underline;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row ul.group-data-list li.id {
  width: 5%;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row ul.group-data-list li.name {
  width: 35%;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row ul.group-data-list li.view_limit {
  width: 5%;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row ul.group-data-list li.owner {
  width: 20%;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row ul.group-data-list li.actions {
  width: 35%;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row ul.group-data-list li.actions a {
  color: #FFF;
  text-decoration: none;
  display: inline;
  margin: 0 10px;
  padding: 5px 10px;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row ul.group-data-list li.actions a:hover {
  opacity: 0.7;
  text-decoration: underline;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row ul.group-data-list li.actions a.delButton {
  background: #b52222;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row ul.group-data-list li.actions a.group_restore {
  background: #15AB2D;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row ul.group-data-list li.actions a.viewButton {
  background: #28BAF5;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups ul .group_row ul.group-data-list li.actions a.view_group_reports {
  background: #30A220;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups .group_pagination {
  display: table;
  width: 100%;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups .group_pagination .page_icon {
  display: inline-block;
  margin: 0 5px;
  padding: 10px 0;
  width: 40px;
  text-align: center;
  border: 1px solid #cfcfcf;
  font-size: 14px;
  color: #FFF;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups .group_pagination span {
  background: rgba(0, 0, 0, 0.74);
}
body.toplevel_page_lms_groups #wpcontent #admin_groups .group_pagination a {
  background: #28BAF5;
  text-decoration: none;
}
body.toplevel_page_lms_groups #wpcontent #admin_groups .group_pagination a:hover {
  text-decoration: underline;
  opacity: 0.7;
}
body.groups_page_lms_groups_edit #wpcontent {
  padding: 0;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups {
  display: block;
  width: 100%;
  float: left;
  margin: 0;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .submit-form-group .add-new-group {
  float: right;
  display: inline;
  vertical-align: middle;
  text-align: right;
  padding: 10px 20px;
  margin: 10px 0;
  background: #28BAF5;
  color: #FFF;
  font-weight: bolder;
  font-size: 16px;
  text-decoration: none;
  border: none;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .submit-form-group .add-new-group:hover {
  opacity: 0.7;
  cursor: pointer;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .submit-form-group .add-new-group:after {
  content: "\f067";
  color: #FFF;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  margin: 5px;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .title_page_groups {
  margin: 0 0 5px 0;
  padding: 0 2%;
  line-height: 3em;
  background: rgba(0, 0, 0, 0.74);
  color: #FFF;
  font-size: 30px;
  display: table;
  width: 96%;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .title_page_groups span {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .title_page_groups .add-new-group {
  float: right;
  display: inline;
  vertical-align: middle;
  text-align: right;
  padding: 10px 20px;
  margin: 10px 0;
  background: #28BAF5;
  color: #FFF;
  font-weight: bolder;
  font-size: 16px;
  text-decoration: none;
  border: none;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .title_page_groups .add-new-group:hover {
  opacity: 0.7;
  cursor: pointer;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .title_page_groups .add-new-group:after {
  content: "\f067";
  color: #FFF;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  margin: 5px;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .form-table {
  width: 100%;
  display: block;
  float: left;
  margin: 0;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .form-table ul.table-row {
  width: 100%;
  display: table;
  background: #FFF;
  margin: 0;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .form-table ul.table-row:nth-child(2n) {
  background: rgba(0, 0, 0, 0.05);
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .form-table ul.table-row li {
  padding: 10px;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .form-table ul.table-row .column-head {
  font-weight: bolder;
  font-size: 20px;
  line-height: 1.5em;
  display: table-cell;
  padding: 10px;
  width: 25%;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .form-table ul.table-row .column-input {
  line-height: 1.5em;
  display: table-cell;
  font-size: 20px;
  width: 75%;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .form-table ul.table-row .column-input input {
  border-radius: 5px;
  padding: 5px;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .group_attach {
  float: left;
  width: 100%;
  display: block;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .group_attach .title_groups_part {
  line-height: 1.5em;
  margin: 0;
  color: #FFF;
  font-size: 22px;
  background: rgba(0, 0, 0, 0.74);
  text-align: center;
  display: block;
  width: 100%;
  padding: 15px 0;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .group_attach p {
  margin: 0;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .group_attach .title_table_widefat {
  display: block;
  text-align: center;
  width: 90%;
  padding: 10px 5%;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .group_attach .select_section {
  background: rgba(0, 0, 0, 0.05);
  padding: 20px 0;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .group_attach .select_section .search_field_complete {
  margin: 15px 5% 0;
  width: 90%;
  padding: 10px;
  border-radius: 5px;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .group_attach .select_section .search_results {
  margin: 0 5%;
  width: 90%;
  background: #FFF;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .group_attach .select_section .search_results li {
  padding: 10px 5px;
  border-bottom: 1px solid #cfcfcf;
  margin: 0;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .group_attach .select_section .search_results li a {
  text-decoration: none;
  font-size: 14px;
  color: #444;
  display: block;
  width: 100%;
  text-align: left;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .group_attach .select_section .search_results li a:hover {
  text-decoration: underline;
  color: #FFF;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .group_attach .select_section .search_results li:hover {
  background: #cfcfcf;
  cursor: pointer;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .group_attach .select_section .widefat {
  width: 90%;
  margin: 10px 5%;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .group_attach .select_section .widefat tbody tr {
  border-bottom: 1px solid #cfcfcf;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .group_attach .select_section .widefat tbody tr td {
  vertical-align: middle;
  border-bottom: 1px solid #cfcfcf;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .group_attach .select_section .widefat tbody tr input,
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .group_attach .select_section .widefat tbody tr select {
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid #cfcfcf;
  height: 36px;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .group_attach .select_section .widefat thead {
  background: #28BAF5;
}
body.groups_page_lms_groups_edit #wpcontent #admin_edit_groups .group_attach .select_section .widefat th {
  color: #FFF;
  font-size: 22px;
  padding: 15px 5px;
  vertical-align: middle;
}
body #report_modal {
  display: none;
}
body .fixed-dialog {
  position: fixed;
  min-width: 1200px;
  min-height: 600px;
}
body .fixed-dialog .results_wrapper {
  width: 100%;
  margin: 0;
  display: block;
  float: left;
}
body .fixed-dialog .results_wrapper .widefat {
  width: 100%;
  font-size: 13px;
}
body .fixed-dialog .results_wrapper .widefat thead,
body .fixed-dialog .results_wrapper .widefat th {
  background: #28BAF5;
  color: #fff;
}
body .fixed-dialog .results_wrapper .result-row {
  border-bottom: 1px solid #cfcfcf;
}
body .ui-button-text:focus {
  outline: none;
}
/*reports*/
body.toplevel_page_lms_reports #wpcontent {
  padding: 0;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports {
  display: block;
  width: 100%;
  float: left;
  margin: 0;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .title_page_reports {
  margin: 0 0 10px 0;
  padding: 0 2%;
  line-height: 3em;
  background: rgba(0, 0, 0, 0.74);
  color: #FFF;
  font-size: 30px;
  display: table;
  width: 96%;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .title_page_reports span {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results {
  margin: 0;
  display: block;
  width: 96%;
  padding: 0 2%;
  float: left;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form {
  display: block;
  width: 100%;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row {
  width: 100%;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.header-form {
  display: table;
  width: 100%;
  list-style-type: none;
  border-bottom: 1px solid #cfcfcf;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.header-form li {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 5px;
  background: rgba(0, 0, 0, 0.74);
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.header-form li div.report_selector {
  display: table;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  float: none;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.header-form li div.report_selector .selector_item {
  box-sizing: border-box;
  display: table-cell;
  width: 100px;
  padding: 10px 0;
  border: 1px solid #cfcfcf;
  margin: 0;
  background: #FFF;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.header-form li div.report_selector .selector_item.active {
  color: #FFF;
  background: #28BAF5;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.header-form li div.report_selector .selector_item:hover {
  cursor: pointer;
  opacity: 0.8;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.header-form li:first-child {
  width: 30%;
  text-align: left;
  color: #FFF;
  font-size: 22px;
  line-height: 1.5em;
  background: #28BAF5;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row.report-type {
  display: none;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row.report-type.active {
  display: block;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.row-form {
  display: table;
  width: 100%;
  list-style-type: none;
  border-bottom: 1px solid #cfcfcf;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.row-form li.table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  padding: 10px 5px;
  background: rgba(0, 0, 0, 0.74);
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.row-form li.table-cell label {
  color: #FFF;
  font-size: 14px;
  text-align: left;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.row-form li.table-cell .widefat {
  width: 96%;
  margin: 0 2%;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.row-form li.table-cell input[type="text"] {
  border-radius: 5px;
  width: 96%;
  margin: 0 2%;
  padding: 10px;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.row-form li.table-cell input {
  border-radius: 5px;
  margin: 0 2%;
  padding: 10px;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.row-form li.table-cell:first-child {
  width: 30%;
  text-align: left;
  color: #FFF;
  font-size: 22px;
  line-height: 1.5em;
  background: #28BAF5;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.row-form li.table-cell .autocomplete_list {
  display: block;
  float: left;
  background: #FFF;
  width: 95%;
  margin: 0 2%;
  position: absolute;
  z-index: 10;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.row-form li.table-cell .autocomplete_list li {
  display: block;
  width: 100%;
  background: #FFF;
  border-bottom: 1px solid #cfcfcf;
  margin: 0;
  text-align: left;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.row-form li.table-cell .autocomplete_list li a {
  padding: 10px 5px;
  text-decoration: none;
  display: block;
  width: 100%;
  color: #444;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.row-form li.table-cell .autocomplete_list li a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #28BAF5;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.row-form li.table-cell .widefat {
  text-align: left;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.row-form li.table-cell .widefat .result-row {
  border-bottom: 1px solid #cfcfcf;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results ul.table_form li.table-row ul.row-form li.table-cell .widefat .result-row td {
  text-align: left;
  border-bottom: 1px solid #cfcfcf;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results .submit_reports {
  width: 100%;
  margin: 0;
  text-align: right;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results .submit_reports .generate_reports {
  background: #28BAF5;
  padding: 10px 20px;
  color: #FFF;
  font-size: 16px;
  display: inline-block;
  border: none;
  border-radius: 5px;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .form_prepare_results .submit_reports .generate_reports:hover {
  cursor: pointer;
  opacity: 0.8;
}
body.toplevel_page_lms_reports #wpcontent #admin_reports .results_wrapper {
  width: 96%;
  margin: 0 2%;
  display: block;
  float: left;
}
